[submodule "wordpress"]
	path = wordpress
	url = https://github.com/WordPress/WordPress.git
[submodule "wp-content/mu-plugins"]
	path = wp-content/mu-plugins
	url = https://github.com/rafaelmfreire/mecao-theme-mu-plugins.git
