<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{HTTP_HOST} ^(www.)?mecao.com.br$
    RewriteCond %{REQUEST_URI} !^/wordpress/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /wordpress/$1 [L]
    RewriteCond %{HTTP_HOST} ^(www.)?mecao.com.br$
    RewriteRule ^(/)?$ wordpress/index.php [L]
</IfModule>